@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400');

.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.welcome {
  background: url('../../Assets/beerBackground.jpg') no-repeat center;
  background-size: cover;
  width: 100vw;
  height: 50vh;
  border-bottom: 40px solid #000;
  display: flex;
  text-align: center;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 300;
  flex-direction: column;
  justify-content: space-around;
}

.welcome-title {
  text-align: center;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 400;
  font-size: 30px;
  
}

.welcome-title span {
  display: inline-block;
  position: relative;
}
.welcome-title span:before,
.welcome-title span:after {
  content: "";
  position: absolute;
  border-bottom: 3px solid #FBAA19;
  width: 100%;
  top: 50%;
}

.welcome-title span:before {
  right: 100%;
  margin-right: 25px;  
}

.welcome-title span:after {
  left: 100%;
  margin-left: 25px;
}

.welcome-phrase {
  max-width: 600px;
  margin: auto;
  color: #fff;
  padding: 30px 0;
  border-bottom: 3px solid #FBAA19;
}

.not-found {
  font-family: 'Roboto Mono', sans-serif;
  margin: auto;
}



