@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400');

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-logo {
  height: 80px;
}

.App-header {
  border-top: 20px solid #FBAA19;
  background-color: rgba(255,255,255,0);
  padding: 20px;
  color: white;
  display: flex;
  position: fixed;
  top: 0;
  width: calc(100vw - 40px);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-content {
  flex: 1;
}

.App-footer {
  position: fixed;
  bottom: 0;
  width: calc(100vw - 40px);
  background-color: #f7f7f7;
  padding: 0 20px;
  text-align: right;
  color: #000;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 300;
}
span {
  color: #FBAA19;
  font-weight: 400;  
}
